body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #f4f4f4;
  padding: 20px;
  margin: 0;
}

.container {
  max-width: 960px;
  margin: auto;
  padding: 0 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

h1 {
  text-align: center;
  width: 100%;
  margin-bottom: 40px;
  color: #006699;
}

.photo {
  flex: 0 1 calc(60% - 40px); /* Adjust the percentage and margin to control the size */
  margin-bottom: 20px;
  text-align: center;
}

.photo img {
  width: 100%;
  height: auto;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  margin-bottom: 10px;
}

.caption {
  color: #555;
  font-size: 1.4em; /* Increase the font size for larger captions */
  margin-top: -10px;
}

.sign-off p {
  text-align: center;
  margin-top: 30px;
  font-size: 1.8em;
  color: #333;
}


@media screen and (max-width: 768px) {
  .photo {
      flex: 0 1 calc(100% - 20px); /* Adjust for smaller screens */
  }
}
